.detail__content {
    width: 800px;
    padding: 70px 0;
    margin: 0 auto;
}

/* パンくず */
.breadcrumbs {
    font-size: 14px;
    margin-bottom: 15px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #0085FF;
}

.angle-bracket {
    margin: 0 5px;
}

.detail__content--upper {
    display: flex;
    justify-content: space-between;
}

.detail__img-wrapper {
    width: 380px;
}

.detail__img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.detail__img img {
    width: 100%;
    height: 100%;
}

.detail__img--upload {
    display: flex;
}

.file-upload__btn {
    min-width: 140px;
    text-align: center;
    background-color: #E0DFDE;
    color: #4b4b4b;
    font-size: 14px;
    border: 1px solid #4b4b4b;
    padding: 5px 10px;
    margin-right: 15px;
    cursor: pointer;
}

.file__name {
    font-size: 12px;
    color: #4b4b4b;
}

.detail__description {
    margin: 30px 0;
}

.detail__description--text {
    padding: 10px 15px;
    width: 100%;
    height: 160px;
}