.main__content {
    max-width: 1500px;
    padding: 70px 40px;
}

.content__nav {
    display: flex;
    justify-content: space-between;
}

.flex__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* 商品カード */

.product-cards {
    width: 1100px;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: 360px;
    height: 320px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.product-card__img-wrapper {
    width: 100%;
    overflow: hidden;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card__text {
    font-size: 20px;
    color: #4b4b4b;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* 検索フォーム */

.search-form {
    width: 250px;
    margin-right: 30px
}

/* ソート */

.price-dropdown {
    position: relative;
    display: inline-block;
}

.price-dropdown summary {
    list-style: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    position: relative;
    padding-right: 2em;
    /* スペース確保 */
}

/* ▼アイコン */
.price-dropdown summary::after {
    content: "▼";
    position: absolute;
    right: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    pointer-events: none;
    /* クリックに干渉しないように */
    color: #555;
}

/* 開いてるときに矢印を上向きに */
.price-dropdown[open] summary::after {
    content: "▲";
}

.price-dropdown[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.price-dropdown nav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    width: 100%;
}

.price-dropdown nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #eee;
}

.price-dropdown nav a:hover {
    background-color: #f5f5f5; }