.register__content {
    width: 760px;
    padding: 70px 40px;
    margin: 0 auto;
}

.subtitle {
    color: #4b4b4b;
    font-size: 32px;
}

.register-form__item {
    width: 100%;
    margin: 30px 0;
}

.required-mark {
    font-size: 12px;
    color: #fff;
    background-color: red;
    padding: 0 5px;
    margin-left: 10px;
}

.multiple {
    color: red;
    margin-left: 10px;
}